:root{
    padding: 0;
    margin: 0;

    --rojoOriginal: #E30613;
    --rojo: #ff541b;
    font-family: system-ui;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
    align-items: center;
}

.header-contenedor{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.btn-buscar{
    margin: 0;
    padding: 0;
    border: 1px solid #b5b5b5;
    border-left: none;
    border-radius: 0 3px 3px 0;
    background-color: var(--rojo);
}  

.btn-buscar i {
    font-size: 8px;
    padding: 5px;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    text-align: left;
    font-size: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; /*hay que ver si lo dejamos*/
    overflow: visible; /* Elimina el scroll */
    table-layout: fixed; /* Ajusta las celdas para adaptarse al ancho */
}

th, td {
    word-wrap: break-word; /* Fuerza el contenido a ajustarse dentro de la celda */
    border: 1px solid #b5b5b5;
    padding: 8px;
}

th {
    border: none;
    color: rgba(0, 0, 0, 0.85);
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
}

th:not(:last-child) {
    position: relative; /* Necesario para usar ::after */
}

th:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%; /* Ajusta la posición vertical */
    right: 0;
    height: 45%; /* Ajusta la longitud del borde */
    border-right: 1px solid #ededed;
    transform: translateY(-50%); /* Centra el borde verticalmente */
}

td {
    border: none;
    color: rgba(29, 28, 28, 0.85);
    background: white;
    border-bottom: 1px solid #f0f0f0;
}

tr:hover {
    background-color: #ddd;
}

.btn-buscar:hover{
    cursor: pointer;
}

input[type="text"] {
    outline: none;
    border: 1px solid #b5b5b5;
    border-radius: 3px 0 0 3px;
    background: white;
    padding: 0 0.3rem;
    appearance: none;
    font-size: 9px;
}
